/* Bagian Animasi Profil */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

section{
  min-height: 100vh;
  display: flex;
 /* justify-content: center;
  align-items: center;*/
}
section:nth-child(1){
  color: #333939;
  }

section .container{
  margin: 20px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #f6fbff;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Bagian Profil */
.single_advisor_profile {
    position: relative;
    margin-bottom: 40px;
    padding-right:3%;
    padding-left:3%;
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    z-index: 1;
    border-radius: 17px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(61, 61, 61, 0.416);
    box-shadow: 0 0.25rem 1rem 0 rgba(61, 61, 61, 0.416);
    justify-content: center;
    align-items: center;
}
.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    padding: 20px 20px 0 0;
    background-color: #343a40;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -45px;
    left: -20%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1080px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}
.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 40px;
    text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 7px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #343a40;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 10px;
}
.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: right;
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 3px;
    background-color: #343a40;
    content: "";
    top: 12px;
    right: 20px;
}
.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 17px;
    }
}
.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    margin-bottom: 0;
    font-size: 17px;
}
@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 13px;
    }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #24282cc7;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #343a40;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
}
